extends layout

block content
  h1 BBT
  header.header
    h1.header__title BBT
    button#butSearch.headerButton(aria-label="Search")
    button#butMenu.headerButton(aria-label="Menu")
  main.main
    .card.cardTemplate.weather-forecast
      | OnAir
    .card.cardTemplate.weather-forecast
      | OffAir
