extends layout

block content
  header.header
    h1.header__title BBT
    button#butSearch.headerButton(aria-label="Search")
    button#butMenu.headerButton(aria-label="Menu")
  main.main
    #card1.card.cardTemplate.weather-forecast(hidden="")
      |
